.env
/kickstart.json
/data
/.venv/
/__pycache__
__pycache__/
/.pytest_cache
/.mypy_cache
/.ruff_cache
/config/__pycache__
/etl/__pycache__
/etl/loads/__pycache__
/etl/validate/__pycache__
__pycache__/
